
.container {
    margin-top: 4%;
    display: flex; /* Use flexbox for layout */
    justify-content: space-between; /* Distribute space between columns */
    align-items: center;
}

#left-column {
    flex: 1; /* Take up available space on the left */
    padding: 1em; /* Add padding for spacing */
    text-align: center; /* Center content horizontally */
}

input, button {
    flex: 1; /* Distribute available space equally between the elements */
    margin: 0.5em; /* Add margin for spacing */
}

.right-column {
    flex: 1; /* Take up available space on the right */
    text-align: center; /* Center content horizontally */
}