.container {
    display: flex; /* Use flexbox for layout */
    justify-content: space-between; /* Distribute space between columns */
}

#left-column {
    flex: 1; /* Take up available space on the left */
    padding: 20px; /* Add padding for spacing */
    text-align: center; /* Center content horizontally */
    justify-content: space-between; /* Distribute space between columns */
}

input, button {
    flex: 1; /* Distribute available space equally between the elements */
    margin: 10px; /* Add margin for spacing */
}

.right-column {
    flex: 1; /* Take up available space on the right */
    text-align: center; /* Center content horizontally */
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}