
.container {
    margin-top: 4%;
    display: flex; /* Use flexbox for layout */
    justify-content: space-between; /* Distribute space between columns */
    color: #f2bc94;
}

.left-column {
    flex: 1; /* Take up available space on the left */
    padding: 1em; /* Add padding for spacing */
    text-align: center; /* Center content horizontally */
}

input, button {
    flex: 1; /* Distribute available space equally between the elements */
    margin: 0.5em; /* Add margin for spacing */
}

.right-column {
    flex: 1; /* Take up available space on the right */
    text-align: center; /* Center content horizontally */
}

body {
    background-color: #00154f;
}

.buttons_container_login button {
    background-color: #f4af1b;
}

.buttons_container_login button:hover {
    background-color: #00154f;
    color: #f4af1b;
}

.primary_font_login {
    font-family: 'Bitter', serif;
    color: #f4af1b;
}
