.body {
    background: rgb(0, 21, 79);
    color: var(--secondary);
    margin: 0;
    padding: 0;
    
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
   
    position: relative;
  
    margin: 0;
  
  }
  .start-button {
    text-align: center;
    padding-right: 100px;
    padding-left: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: xx-large;
    border-radius: 15px;
    background: rgb(244, 175, 27);
    color: rgb(0, 0, 0);
    border-color: rgb(252, 152, 168);
  }
  
  .startContainer {
    margin: 0;
    position: fixed;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  
  .questionContaner {
    display: flex;
  }
  
  .questionText {
    text-align: center;
    color: rgb(242, 188, 148);
  }
  
  .answersContainer {
    justify-content: space-evenly;
    display: flex;
    margin: 20px;
  }
  
  button {
    text-align: center;
    padding-right: 100px;
    padding-left: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: xx-large;
    border-radius: 15px;
    background: rgb(244, 175, 27);
    color: rgb(0, 0, 0);
    border-color: rgb(252, 152, 168);
    display: flex;
  }
  
  .time {
    margin: 20px;
    text-align: center;
    color: white;
  }
  
  .endContainer {
    margin: 20px;
    padding: 20px;
    display: flex;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  
  .endHeader {
    color: rgb(242, 188, 148);
    margin-top: 20px;
    padding-top: 20px;
  }
  
  .userInput {
    text-align: center;
    margin-bottom: 20px;
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  